
:root {
	font-family: sans-serif;
	overflow-x: hidden;
}

a {
	color: #0083a3;
	font-weight: 500;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	background-color: unset;
	border: unset;
}