:root {
  --accent: #64ffda;
}

a { color: inherit; }


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181717;
  color: white;
}

.navbar-brand {
  display: inline-flex !important;
  flex-direction: row !important;
}

.nav-link {
  font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
  color: white;
  padding-left: 10px !important;
  transition: .5s;
}

.nav-link:hover{
  color: var(--accent);
}

.navbar-nav{
  font-size: 15px;
}

.number-navbar{
  display: inline-block;
  color: var(--accent);
}

.number {
  display: inline-block;
  color: var(--accent);
  padding-right: 10px;
}

.thumbnailTitle{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  font-weight: 200;
}

.active {
  text-decoration: underline;
}

.jg_logo{
  height: 45px;
  padding-right: 10px;
  transition: .5s;
}

.resume {
  font-weight: 100;
  padding: 6px;
  text-align: center;
  width: 100%;
  color: var(--accent);
  border: 1px solid var(--accent);
  border-radius: 5px;
  transition: .25s;
}

.resumeContainer {
  padding-left: 20px;
  transition: .25s;
}

.resume:hover {
  box-shadow: 0px 0px 10px var(--accent);
}

.jg_logo:hover{
  opacity: 55%;
}

.greeting {
  height: 110vh;
  width: 75%;
  margin:auto;
  padding-top: 120px;
  padding-bottom:20px;
}

.boxContainer{
  /*background-color: #201f1f;*/
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.threeTileContainer{
  padding-top: 20px;
}
.socialMediaLinks {
  padding-top: 5px;
}

.socialMediaLinks svg{
  padding: 5px;
  height: 30px;
  transition: .5s;
}

.emailIcon{
  transform: translateY(3px);
}

.footer a{
  text-decoration: none;
  transition: .25s;
}

.footer a:hover{
  text-decoration: none;
  color: var(--accent);
;
}

.regularSVG svg:hover{
  stroke: var(--accent);
}
.emailIcon {
  fill:white;
}
.emailIcon:hover{
  fill: var(--accent) !important;
}

.helloLoaded {
  animation: fadeInUp 1s forwards;
  animation-delay: .2s;
}

.nameLoaded {
  animation: fadeInUp 1s forwards;
  animation-delay: .4s;
}

.descLoaded {
  animation: fadeInUp 1s forwards;
  animation-delay: .6s;
}

.small-descLoaded {
  animation: fadeInUp 1s forwards;
  animation-delay: .8s;
}

.inTouchLoaded {
  cursor: pointer;
  animation: fadeInUp 1s forwards;
  animation-delay: 1s;
}
.hello {
  opacity: 0;
  font-size: 20px;
  color: var(--accent);
  font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
  line-height: 1.1;
  font-weight: 100;
}

.name {
  opacity: 0;
  font-size: 80px;
  color: white;
  font-family: "Calibre","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif !important;
  font-weight: 600;
  line-height: 1.1;
}

.desc {
  opacity: 0;
  font-family: "Calibre","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif !important;
  font-size: 70px;
  font-weight: 600;
  color: #d3d0c9;
  line-height: 1.1;
}

.small-desc {
  opacity: 0;
  width: 50%;
  font-family: "Calibre","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif !important;
  padding-top: 40px;
}

.small-desc a{
  color: var(--accent);
  transition: .5s;
  text-decoration: none;
}

.small-desc a:hover{
  color: white;
  text-decoration: none;
}

.inTouch {
  opacity: 0;
  padding: 10px;
  text-align: center;
  width: 15%;
  color: var(--accent);
  border: 2px solid var(--accent);
  border-radius: 5px;
  transition: .25s;
  cursor: pointer;
}

.inTouch:hover {
  box-shadow: 0px 0px 10px var(--accent);
}

.sideLinks ul{
  position: fixed;
  bottom: 0;
  left: 20px;
  padding: 5px;
  text-decoration: none;
  list-style: none;
}

.sideLinks ul li {
  padding-bottom: 10px;
}

.icon {
  transition: .5s;
}

.icon svg {
  height: 25px;
  transition: .5s;
}

.email svg{
  fill: white;
  transition: .5s;
}

.icon svg:hover {
  transform: translateY(-3px);
  filter: drop-shadow( 0 0 2px var(--accent));
  stroke: var(--accent);
}

.email svg:hover {
  transform: translateY(-3px);
  filter: drop-shadow( 0 0 2px var(--accent));
  fill: var(--accent);
}

.vertBar{
  height: 124px;
  width: 1px;
  background-color: white;
  transform: translate(12px, 20px);
}

.navigation {
  animation: fadeInDown 1s forwards;
}

.getintouchContainer{
  padding-top: 150px;
  text-align: center;
  height: 60vh;
}

.intouchsmallbio{
  font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
  color: var(--accent)
}

.intouchBigBio{
  font-family: "Calibre","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif !important;
  font-size: 40px;
  font-weight: 600;
  transform: translateY(-6px);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes comeUp {
  100% {
    transform: translateY(860px);
  }
}

.sideLinks {
  transform: translateY(2000px);
  position: fixed;
  animation: comeUp 1s forwards;
}

.thumbnailImage{
  width: 100%;
  transition: .5s;
}

.thumbnailImage:hover {
  opacity: .5;
  transform: translateY(-5px);
}

.longbio{
  font-size: 15px;
  margin:auto;
  width: 40%;
}

.contactmeButton {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid var(--accent);
  width: 15%;
  margin: auto;
  margin-top: 20px;
  transition: .5s;
  color: var(--accent);
}

.contactmeButton:hover{
  box-shadow: 0px 0px 5px white;
}

.thumbnailListContainer {
  padding-top: 10px !important;
}

.projectThumbnailContainer{
  opacity: 0;
}

.projectThumbnailContainerLoaded {
  animation: fadeInUp 1s forwards;
  animation-delay: 1.2s;
}
.projectThumbnailContainer ul {
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.projectThumbnailContainer li {
  display:inline;
  float: left;
  padding-right: 20px;
}

.thumbnailIcon{
  height: 15px !important;
}

.col {
  width: 29%;
}

.thumbnailBio{
  font-size: 14px;
  padding-top: 5px;
}

.tagContainer {
  padding-right: 15px;
}

.tag {
  padding-right: 20px;
  display: inline-block;
  font-size: 15px;
  text-align: center;
  color: #c1bbc1;
  white-space:nowrap;
}

.tag div{
  display: inline-block;
  color: var(--accent)
}

.tagcontainerCompartment{
  padding-top: 10px;
}
.tagRow{
  padding-left: 14px;
}

.container{
  max-width: 140vh !important;
}

@media (max-width: 1360px){
  .container{
    width: 80%;
    /*max-width: 110vh !important;*/
  }
}

/* MOBILE */
@media only screen and (max-device-width: 480px) {
  body{
    width: 100%;
    overflow-x:hidden;
  }

  .home{
    width: 120%;
    overflow: hidden
  }

  .container{
    width: 100%;
  }

  .nav-link{
    font-size: 12px;
  }

  .navbar-nav{
    right: 0;
    top: 0;
  }

  .resume {
    transform: translateY(10px);
  }

  .navigation {
    width: 55vh
  }

  .number-navbar {
    display: block;
  }

  .greeting{
    overflow:hidden;
    height: 120vh;
    width: 50vh;
    margin:auto;
    padding-top: 50px;
    padding-left: 5px;
  }

  .inTouch{
    width: 40%;
  }

  .sideLinks {
    transform: translateY(200vh);
    position: fixed;
    animation: comeUp 1s forwards;
    width: 100vh;
    left: 80%;
    top: -20%;
    z-index: 999;
  }

  .sideLinks li{
    padding: 10px;
  }

  .vertBar{
    display: none;
  }

  .icon {
    transition: .5s;
  }

  .icon svg {
    height: 25px;
    transition: .5s;
  }

  .email svg{
    height: 35px;
    fill: white;
    transition: .5s;
  }

  .icon svg:hover {
    transform: translateY(-3px);
    filter: drop-shadow( 0 0 2px var(--accent));
    stroke: var(--accent);
  }

  .email svg:hover {
    transform: translateY(-3px);
    filter: drop-shadow( 0 0 2px var(--accent));
    fill: var(--accent);
  }

  .rightContainer {
    width: 100%;
    -webkit-transform: translateX(12%);
    -moz-transform: translateX(12%);
    -ms-transform: translateX(12%);
    -o-transform: translateX(12%);
    transform: translateX(12%);
  }
  .small-desc {
    opacity: 0;
    width: 80%;
    font-family: "Calibre","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif !important;
    padding-top: 40px;
  }

  .projectThumbnailContainer{
    padding-top: 55px;
  }

  .thumbnailImage{
    width: 380px;
    height: auto;
  }

  .thumbnailBio{
    padding-top: 10px;
    width:85%;
  }
  .col{
    width: 90%;
  }

  @keyframes comeUp {
    100% {
      transform: translateY(900px);
    }
  }
}